.breadcrumbSection{
    margin-top: 100px;
}

.iconBreadcrumb{
    font-size: 20px;
    color: #8a92a2;
}

.breadcrumb-item::before {
    color: #8a92a2;
    margin: auto;
    line-height: 1.52rem;
    font-family: 'Montserrat';
    font-weight: 700;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    margin: 0 6px; 
    color: #8a92a2; 

}

.breadcrumb-item a{
    color: #8a92a2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
}