<app-header [background]="true" ></app-header>
<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="mainSection" *ngIf="areaData">
    <div class="container">
        <div class="iconArea">
            <i id="iconElement" class="fa-solid {{areaData.icon}}"></i>
        </div>
        <h2 class="titleArea">{{ areaData.name }}</h2>
        <div class="row">
            <div class="col-md-6 col-lg-9">
                <div class="row indicators">
                    <div class="col-lg-12 mt-3">
                        <p class="descriptionArea" *ngIf="areaData.description !== areaData.name">
                            {{areaData.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center ">
                <div class="card CardAreas custom-shadow">
                    <div class="card-body">
                        <h4 class="card-title mb-4">{{areaData.modelNameInPlural}}</h4>
                        <ul class="menuLateral mb-0" >
                            <ng-container *ngFor="let eixo of getOrganizersKey()" >
                                <div class="border-with-text mt-3 mb-3" *ngIf="eixo.length > 0">
                                    <span>{{eixo == '' ? 'teste' : eixo}}</span>
                                </div>
                                <li class="nav-item" *ngFor="let area of allAreas[eixo]; let i = index; let last = last" 
                                [ngClass]="{'active': areaId == area.id, 'no-border': last }">
                                    <a class="nav-link d-flex" (click)="replaceIcon(area.icon)"  [routerLink]="['/area']" [queryParams]="{id:area.id}" >
                                        <div class="iconAreaMenu">
                                            <i class="fa-solid {{area.icon}}"></i>
                                        </div>
                                        <div class="textAreaMenu">
                                            {{area.name}}
                                        </div> 
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
        &nbsp;
    </div>
</section>
<section class="secondarySection" style="" *ngIf="areaData">
    <div class="container" style="position: relative ;margin-top: 7rem;">
        <h1 class="titleDesafios">Desafios</h1>
        <p class="titleSecondary">Confira os resultados dos indicadores da área de {{areaData.name}} para cada desafio.</p>
        <div class="row">
            <div class="col-md-4 p-3">
                <div class="card shadow p-3">
                    <div class="card-title">
                        <div class="titleChallenge" >
                            <span class="numberChallenge">{{areaData.challenge.length}}</span>
                            <span class="textChallenge">{{areaData.challenge.length <= 1 ? 'Desafio' : 'Desafios'}}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card bg-overview">
                            <h3 class="titleOverview" >{{areaData.startOfAdministrationYear}}</h3>
                            <div class="overview mb-3">
                                <span class="ball-item green-ball-img">{{ countFirstYear.green }}</span>
                                <span class="ball-item yellow-ball-img">{{ countFirstYear.yellow }}</span>
                                <span class="ball-item red-ball-img">{{ countFirstYear.red }}</span>
                                <span class="ball-item gray-ball-img">{{ countFirstYear.gray }}</span>
                            </div>
                        </div>
                        <div class="card bg-overview mt-3">
                            <h3 class="titleOverview" >{{areaData.startOfAdministrationYear + 1}}</h3>
                            <div class="overview mb-3">
                                <span class="ball-item green-ball-img">{{ countSecondYear.green }}</span>
                                <span class="ball-item yellow-ball-img">{{ countSecondYear.yellow }}</span>
                                <span class="ball-item red-ball-img">{{ countSecondYear.red }}</span>
                                <span class="ball-item gray-ball-img">{{ countSecondYear.gray }}</span>
                            </div>
                        </div>
                        <div class="card bg-overview mt-3">
                            <h3 class="titleOverview" >{{areaData.startOfAdministrationYear + 2}}</h3>
                            <div class="overview mb-3">
                                <span class="ball-item green-ball-img">{{ countThirdYear.green }}</span>
                                <span class="ball-item yellow-ball-img">{{ countThirdYear.yellow }}</span>
                                <span class="ball-item red-ball-img">{{ countThirdYear.red }}</span>
                                <span class="ball-item gray-ball-img">{{ countThirdYear.gray }}</span>
                            </div>
                        </div>
                        <div class="card bg-overview mt-3">
                            <h3 class="titleOverview" >{{areaData.startOfAdministrationYear + 3}}</h3>
                            <div class="overview mb-3">
                                <span class="ball-item green-ball-img">{{ countFourthYear.green }}</span>
                                <span class="ball-item yellow-ball-img">{{ countFourthYear.yellow }}</span>
                                <span class="ball-item red-ball-img">{{ countFourthYear.red }}</span>
                                <span class="ball-item gray-ball-img">{{ countFourthYear.gray }}</span>
                            </div>
                        </div>

                        <div class="legend mt-3">
                            <div class="row">
                                <div class="col-1 mt-2">
                                    <span class="green-legend"></span>
                                </div>
                                <div class="col-11 mt-2">
                                    <p class="ms-2 m-auto">Alcançado</p>
                                </div>
                                <div class="col-1 mt-2">
                                    <span class="yellow-legend"></span>
                                </div>
                                <div class="col-11 mt-2">
                                    <p class="ms-2 m-auto">Parcialmente Alcançado</p>
                                </div>
                                <div class="col-1 mt-2">
                                    <span class="red-legend"></span>
                                </div>
                                <div class="col-11 mt-2">
                                    <p class="ms-2 m-auto">Não Alcançado</p>
                                </div>
                                <div class="col-1 mt-2">
                                    <span class="grey-legend"></span>
                                </div>
                                <div class="col-11 mt-2">
                                    <p class="ms-2 m-auto">Não foi possível mensurar</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8 p-3">
                <ng-container *ngFor="let challenge of areaData.challenge; index as i">
                    <div class="card shadow mb-3">
                        <div class="row">
                            <div class="col-md-7 p-3 challenge-info">
                                <div class="info-nome">
                                    <a class="decoration-off"  [routerLink]="['/challenge']" [queryParams]="{id: challenge.uuId}" style="color: #132446;" href="#">{{challenge.name}}</a>
                                  </div>
                            </div>
                            <div class="col-md-5 p-2 card-overview-indicator">
                                <div class="overview-indicator">
                                    <div class="m-auto ms-2 text-center">
                                        <span 
                                           class="ball-item"
                                           [ngClass]="firstYear[i]"
                                        ></span>
                                       {{areaData.startOfAdministrationYear}}
                                   </div>
                                   <div class="m-auto ms-2 text-center">
                                    <span 
                                       class="ball-item"
                                       [ngClass]="secondYear[i]"
                                    ></span>
                                   {{areaData.startOfAdministrationYear + 1}}
                                    </div>
                                    <div class="m-auto ms-2 text-center">
                                        <span 
                                           class="ball-item"
                                           [ngClass]="thirdYear[i]"
                                        ></span>
                                       {{areaData.startOfAdministrationYear + 2}}
                                   </div>
                                   <div class="m-auto ms-2 text-center">
                                    <span 
                                       class="ball-item"
                                       [ngClass]="fourthYear[i]"
                                    ></span>
                                   {{areaData.startOfAdministrationYear + 3}}
                                    </div>
                                    <div class="m-auto ms-2 text-center">
                                        <span class="blue-legend mb-2">{{challenge.indicatorList.length}}</span>
                                        {{challenge.indicatorList.length <= 1 ? 'Indicador' : 'Indicadores'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
               
            </div>
        </div>
    </div>
</section>
<section>
    <ng-container>
        <div class="container">
            <div class="p-5">
                <h3 class="titleArea">OBJETIVOS DE DESENVOLVIMENTO SUSTENTÁVEL (ODS)</h3>
                <p class="descriptionArea" style="color: #0098da; font-weight:600">Veja os ODS relacionados com a área estratégica e o número de indicadores atendidos</p>
                <div class="item-ods">
                    <div *ngFor="let ods of odsCounts">
                        <a [href]="'https://brasil.un.org/pt-br/sdgs/' + ods.ods" target="_blank">
                            <img 
                                 [src]="'/assets/images/ODS/ODS-' + ods.ods + '.png'"
                                 [alt]="'ODS ' + ods"
                                 class="ods-image">
                        </a> 
                        <p class="ods-text">{{ods.count}} {{ods.count === 1 ? 'Indicador' : 'Indicadores'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</section>
<app-footer></app-footer>