<app-header [background]="true" ></app-header>
<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="mainSection" *ngIf="areaData">
    <div class="container">
        <div class="iconArea">
            <i id="iconElement" class="fa-solid {{areaData.icon}}"></i>
        </div>
        <h1 class="titleArea">{{ areaData.name }}</h1>
        <div class="row">
            <div class="col-md-6 col-lg-9">
                <p class="descriptionArea">{{areaData.description}}</p>
                <div class="row indicators" [hidden]="false">
                    <div class="col-lg-6">
                        <div class="card shadow bg-white m-3">
                            <div class="card-body">
                                <i class="fa-regular fa-face-smile polarity"></i>
                                <h4 class="card-title">NÚMERO DE PRESOS CAPACITADOS<br>Unidade</h4>
                                <div class="card-desafio-display">
                                    <!-- <span ng-hide="areaCtrl.result.year" [hidden]="true" class="ng-hide"><i class="fa fa-spin fa-spinner"></i></span>    -->
                                    <span class="">
                                      2021:
                                    </span> 
                                    <div class="card-info">
                                      655.0
                                      <!-- <span ng-hide="areaCtrl.result" [hidden]="true" class="ng-hide"><i class="fa fa-spin fa-spinner"></i></span> -->
                                    </div>
                                </div>
                                <div class="card-desafio-display">
                                    <!-- <span ng-hide="areaCtrl.result.year" [hidden]="true" class="ng-hide"><i class="fa fa-spin fa-spinner"></i></span>    -->
                                    <span class="">
                                      2022:
                                    </span> 
                                    <div class="card-info">
                                      2.4K
                                      <!-- <span ng-hide="areaCtrl.result" [hidden]="true" class="ng-hide"><i class="fa fa-spin fa-spinner"></i></span> -->
                                    </div>
                                </div>
                                <div class="subtitle ng-binding ng-scope" style="text-align: left">
                                    <span class="desafio-text">Desafio:</span>
                                    Aumentar a eficácia do sistema prisional e de ressocialização
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="card shadow bg-white m-3">
                            <div class="card-body">
                                <i class="fa-regular fa-face-frown polarity"></i>
                                <h4 class="card-title">PERCENTUAL DE EGRESSOS CONTRATADOS VIA ESCRITÓRIO SOCIAL<br>%</h4>
                                <div class="card-desafio-display">
                                    <!-- <span ng-hide="areaCtrl.result.year" [hidden]="true" class="ng-hide"><i class="fa fa-spin fa-spinner"></i></span>    -->
                                    <span class="">
                                      2021:
                                    </span> 
                                    <div class="card-info">
                                        0.21
                                      <!-- <span ng-hide="areaCtrl.result" [hidden]="true" class="ng-hide"><i class="fa fa-spin fa-spinner"></i></span> -->
                                    </div>
                                </div>
                                <div class="card-desafio-display">
                                    <!-- <span ng-hide="areaCtrl.result.year" [hidden]="true" class="ng-hide"><i class="fa fa-spin fa-spinner"></i></span>    -->
                                    <span class="">
                                      2022:
                                    </span> 
                                    <div class="card-info">
                                        0.23
                                      <!-- <span ng-hide="areaCtrl.result" [hidden]="true" class="ng-hide"><i class="fa fa-spin fa-spinner"></i></span> -->
                                    </div>
                                </div>
                                <div class="subtitle ng-binding ng-scope" style="text-align: left">
                                    <span class="desafio-text">Desafio:</span>
                                    Aumentar a eficácia do sistema prisional e de ressocialização
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="card CardAreas custom-shadow">
                    <div class="card-body">
                        <h5 class="card-title">Áreas Estratégicas</h5>
                        <ul class="menuLateral mb-0" >
                            <ng-container *ngFor="let area of allAreas" >
                                <li class="nav-item" [ngClass]="{'active': areaId == area.id }">
                                    <a class="nav-link d-flex" (click)="replaceIcon(area.icon)"  [routerLink]="['/area']" [queryParams]="{id:area.id}" >
                                        <div class="iconAreaMenu">
                                            <i class="fa-solid {{area.icon}}"></i>
                                        </div>
                                        <div class="textAreaMenu">
                                            {{area.name}}
                                        </div> 
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
        &nbsp;
    </div>
</section>
<section class="secondarySection" style="">
    <div class="container" style="position: relative ;margin-top: 7rem;">
        <h1 class="titleDesafios">Desafios</h1>
        <p class="titleSecondary">Confira os resultados dos indicadores da área de {{areaData.name}} para cada desafio.</p>
        <div class="row">
            <div class="col-md-4 p-3">
                <div class="card shadow p-3">
                    <div class="card-title">
                        <div class="titleChallenge" >
                            <span class="numberChallenge">05</span>
                            <span class="textChallenge">Desafios</span>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="card bg-overview">
                            <h3 class="titleOverview" >2024</h3>
                            <div class="overview mb-3">
                                <span class="ball-item green-ball-img">0</span>
                                <span class="ball-item yellow-ball-img">10</span>
                                <span class="ball-item red-ball-img">5</span>
                            </div>
                        </div>
                        <div class="card bg-overview mt-3">
                            <h3 class="titleOverview" >2022</h3>
                            <div class="overview mb-3">
                                <span class="ball-item green-ball-img">0</span>
                                <span class="ball-item yellow-ball-img">10</span>
                                <span class="ball-item red-ball-img">5</span>
                            </div>
                        </div>

                        <div class="legend mt-3">
                            <div class="row">
                                <div class="col-1 mt-2">
                                    <span class="green-legend"></span>
                                </div>
                                <div class="col-11 mt-2">
                                    <p class="ms-2 m-auto">Alcançado</p>
                                </div>
                                <div class="col-1 mt-2">
                                    <span class="yellow-legend"></span>
                                </div>
                                <div class="col-11 mt-2">
                                    <p class="ms-2 m-auto">Parcialmente Alcançado</p>
                                </div>
                                <div class="col-1 mt-2">
                                    <span class="red-legend"></span>
                                </div>
                                <div class="col-11 mt-2">
                                    <p class="ms-2 m-auto">Não Alcançado</p>
                                </div>
                                <div class="col-1 mt-2">
                                    <span class="grey-legend"></span>
                                </div>
                                <div class="col-11 mt-2">
                                    <p class="ms-2 m-auto">Não foi possível mensurar</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8 p-3">
                <ng-container *ngFor="let challenge of areaData.challenge">
                    <div class="card shadow mb-3">
                        <div class="row">
                            <div class="col-md-8 p-3 challenge-info">
                                <div class="info-nome">
                                    <a class="decoration-off" [routerLink]="['/challenge']" [queryParams]="{id: challenge.uuId}" style="color: #132446;" href="#">{{challenge.name}}</a>
                                  </div>
                            </div>
                            <div class="col-md-4 p-3">
                                <div class="overview-indicator">
                                    <div class="m-auto ms-2 text-center">
                                        <span class="ball-item mirrored-green-ball-img"></span>
                                        2022
                                    </div>
                                    <div class="m-auto ms-2 text-center">
                                        <span class="ball-item mirrored-yellow-ball-img"></span>
                                        2024
                                    </div>
                                    <div class="m-auto ms-2 text-center">
                                        <span class="blue-legend mb-2">0</span>
                                        Indicadores
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
               
            </div>
        </div>
    </div>
</section>
<section>
    
</section>
<app-footer></app-footer>