.iconArea{
    font-size: 50px;
    color: #132446;
    margin-right: 10px;    
}

.titleArea{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #132446;
}

.titleAnalysis{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #055bb2;
}

.descriptionArea{
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    color:#132446;
}


.card-title{
    text-align: center;
    font-weight:bold;
    color:#132446;
}

.CardAreas{
    background-color: #132446;
    color: #fff;
    z-index: 10;
    .card-title{
        color:#fff;
    }
}

.card-container.card-container-metricas {
    margin-bottom: 40px;
}

.count-indicador-title {
    font-size: 38px;
    line-height: 34px;
    margin-top: 20px;
}

.info-text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight:normal;
}

.mini-legenda {
    font-family: 'Montserrat', 'Montserrat Regular', 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.card-cor-verm, .card-cor-verde, .card-cor-amarela, .card-cor-preta {
    height: 26px;
    width: -webkit-fill-available;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.card-cor-verde {
    background-color: #00B050
}

.card-cor-verm {
    background-color: #FF0000
}

.card-cor-amarela {
    background-color: #F0E010
}

.card-cor-preta {
    background-color: #A6A6A6
}

.item-card-metricas {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-basis: 23%;
    color: #132446;
    font-family: 'Montserrat', 'Montserrat Regular', 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    box-shadow: 5px 5px 21px rgb(0 0 0 / 20%);
    border-radius: 16px;
    margin: 1%;
    background-color: white;
}


.subtitle {
    font-family: 'Montserrat', 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #132446b5;
    margin-top: 20px;
}

.desafio-text {
    font-weight:bold;
}

.card-desafio-display {
    text-align: left;
    margin-top: 5%;
    font-size: 28px;
    color:#132446;
    display: flex;
    justify-content: center;
    font-weight:bold;

    
    .card-info {
        margin-left: 5%;
        width: 202px;
        min-height: 35px;
        text-align: center;
        background-color: rgba(19, 36, 70, 0.9607843137254902);
        border-radius: 9px;
        color: rgba(255, 255, 255, 0.9607843137254902);
    }
}
.decoration-off{
    text-decoration: none;
}

.menuLateral{
    text-align: start;
    padding-left: 0;
    cursor: pointer;
    li{
        list-style: none;
        padding: 5px;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: #fff;
        border-bottom: 3px solid #10345a;

        i{
            margin-right: 0.75rem;
        }
    }
    li:last-child{
        border-bottom: none;
    }
}

.menuLateral li:hover,.menuLateral .active{
    color: var(--corDefault);
    transition: all 250ms ease-in-out
}


.textAreaMenu{
    width: 100%;
    margin: auto;
    font-size: x-small;
}

.secondarySection{
    background-color: #0098da;
    margin-top: -15rem;
    .container{
        padding-top: 7rem;
        padding-bottom: 3.5rem;
    }
}

.titleDesafios{
    color: #112b4f;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.custom-shadow{
    box-shadow: 5px 6px 25px rgb(19 36 70 / 58%);
}

.titleSecondary{
    color: #c7e8f6;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.titleChallenge{
    text-align: center;
    color: #112b4f;
    font-family: 'Montserrat', sans-serif;
    // font-weight: 800;
    .numberChallenge{
        font-weight: bolder;
        display: block;
        font-size: 5rem;
        line-height: 5rem;
    }
    .textChallenge{
        font-size: 1.75rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.legend span{
    content: '&nbsp;';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.polarity{
    display: flex;
    width: 14vw;
    height: 9vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px auto;
    background-position: center;
    color:#132446;
}

.ball-item {
    display: flex;
    height: 40px;
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.green-ball-img{
    background-image: url(/assets/images/home/bola-verde.png);
}

.yellow-ball-img{
    background-image: url(/assets/images/home/bola-amarela.png);
}

.red-ball-img{
    background-image: url(/assets/images/home/bola-vermelha.png);
}

.gray-ball-img{
    background-image: url(/assets/images/home/bola-cinza.png);
}


.mirrored-green-ball-img{
    background-image: url(/assets/images/home/bola-verde-espelhada.png);
}

.mirrored-yellow-ball-img{
    background-image: url(/assets/images/home/bola-amarela-espelhada.png);
}

.mirrored-red-ball-img{
    background-image: url(/assets/images/home/bola-vermelha-espelhada.png);
}

.mirrored-gray-ball-img{
    background-image: url(/assets/images/home/bola-cinza-espelhada.png);
}

.green-legend{
    background-color: #1fab27;
}
.yellow-legend{
    background-color: #dfb706;
}
.red-legend{
    background-color: #ff0000;
}
.gray-legend{
    background-color: #808080;
}
.blue-legend{
    background-color: #132446;
}

.bg-overview{
    background-color: rgba(var(--bs-secondary-bg-rgb), .8);
}

.titleOverview{
    text-align: center;
    color: #112b4f;
    font-weight: bold;
}

.overview{
    display:grid;
    align-self: center;
    span{
        margin: auto .75rem;
        // background-color: #0098da;
        justify-content: center;
        text-align: center;
        display: inline-block;
        align-content:center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
    }
}

.overview-indicator{
    display:grid;
    grid-template-columns:30% 30% 40%;
    align-self: center;
    span{
        margin: auto .75rem;
        justify-content: center;
        text-align: center;
        display: inline-block;
        align-content:center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: 700;
        color: white;
    }
}

.text-select {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #132446;
    margin-bottom: 8px;
}

.dropdown-menu {
    display: none; 
    position: absolute;
    cursor: pointer; 
    top: 100%; 
    left: 0;
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    width: 100%; 
    max-height: 200px; 
    overflow-y: auto; 
}


.btn-group .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    list-style: none; 
}

.dropdown-menu a {
    display: block; 
    padding: 10px 15px; 
    color: #333; 
    text-decoration: none; 
}

.dropdown-menu a:hover {
    background-color: #f8f9fa; 
}

.dropdown-btn {
    background-color: rgba(19, 36, 70, 1);
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 6px 12px;
    width: 100%;
    height: 57px;
}

.dropdown-year-of-title-btn {
    background-color: #FFFFFF;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #055bb2;
    border: none;

    .caret{
        float: right;
        margin-left: 5px;
        margin-top: 8%;
        border-top: 10px dashed;
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
        color: #055bb2;
    }

  }

.dropdown-year-btn {
    background-color: rgba(19, 36, 70, 1);
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    border: none;

    .caret{
        float: right;
        margin-left: 5px;
        margin-top: 8%;
        border-top: 10px dashed;
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
        color: white;
    }
    
  }

.caret{
    float: right;
    margin-top: 1%;
    border-top: 10px dashed;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    color: white;
}

.indicador-header-item .medidas-text {
    background-color: #A8ACB6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.indicador-header-container  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
    list-style: none;
    margin-bottom: 40px;
}

.indicador-header-item {
    margin-right: 3%;
}
.d-flex-colum, .cards-indicadores {
    flex-direction: column;
}
.d-flex, .d-flex-colum, .cards-indicadores {
    display: flex;
    align-items: center;
}
.bck-blue {
    background-color: #888b91;
    border-radius: 10px;
    padding: 6px 12px;
    width: 100%;
    height: 57px;
    text-align: center;
    color: rgba(19, 36, 70, 1);
}

.medidas-text {
    font-family: 'Montserrat-Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px !important;
    color: #132446;
}

.indicador-header-item .info-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.icone-polaridade {
    width: 40px;
    height: 5vh;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(/assets/images/home/expectativa-positiva.png);
}

.item-ods {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 5px; 
    align-items: center;
}

.ods-image {
    width: 100%;
    max-width: 94px;
    height: auto;
    object-fit: contain;
}

.table-resultados-container {
    display: flex;
    padding-top: 20px;
}

.performance-table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 4px;
    border-collapse: unset;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.header-cell {
    background-color: rgba(19, 36, 70, 1);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #dcdcdc;
}

.subheader-cell {
    background-color: rgba(19, 36, 70, 0.7058823529411765);
    color: white;
    border-radius: 10px;
    font-weight: normal;
    padding: 10px;
    border: 1px solid #dcdcdc;
}

.body-cell {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: 1px solid #dcdcdc;
    color: #333;
}

.performance-cell img {
    width: 20px;
    height: 20px;
}

.performance-cell img[alt="Positivo"] {
    background-color: green;
    border-radius: 50%;
}

.performance-cell img[alt="Negativo"] {
    background-color: red;
    border-radius: 50%;
}

.download-pdf {
    color: #132446;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    height: 30px;
    width: auto;
    svg{
        cursor: pointer;
    }
    span{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        align-self: flex-end;
        cursor: pointer;
    } 
  }

  .tooltip-text {
    position: relative;
    cursor: help;
    margin-left: 3px;
  }
  
  .tooltip-text::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: pre-wrap;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }
  
  .tooltip-text:hover::after {
    opacity: 1;
    visibility: visible;
  }

  .info-justification {
    display: inline-block;
    margin-left: 3px;
    cursor: pointer;
  }

    performance-table thead, tbody, tfoot, tr, td, th {
        font-size: 0.75rem;
    }


    .hide-on-md {
        display: none !important;
    }

    .mobile-table {
        display: none !important;
    }


  @media (max-width: 1200px) {

    performance-table thead, tbody, tfoot, tr, td, th {
        font-size: 0.6rem;
    }

  .titleArea,
  .titleAnalysis,
  .text-select {
    font-size: 1.5rem; 
  }

  .overview{
    span{
        height: 50px;
        width: 50px;
        
    }
    }
    .info-text{
        font-size: 1rem;  
    }

    .dropdown-btn{
        font-size: 0.8rem;
    }

    .medidas-text {
        font-size: 10px !important;
    }

}

  @media (max-width: 992px) {

    .indicador-header-ods{
        width: auto !important;
        margin-top: 10px;
        .item-ods{
            justify-items: center;
        }
    }

    performance-table thead, tbody, tfoot, tr, td, th {
        .ball-item{
            height: 30px;
        }
        font-size: 0.6rem;
    }

    .hide-on-desktop {
        display: none !important;
    }
    .mobile-table {
        display: table !important;
    }

    .indicador-header-container{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
    }

    .table-resultados-container {
        display: contents;
    }

    .card-container.card-container-metricas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    
  .titleArea,
  .titleAnalysis,
  .text-select {
    font-size: 1rem; 
    }

    .dropdown-btn{
        font-size: 0.7rem;
    }

    .indicador-header-item .info-text, .medidas-text{
       font-size: 0.6rem !important; 
    }

}

@media (max-width: 600px) {
    .indicador-header-container{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
    }
}
